{% extends 'listings/base.html' %}

{% block content %}

    <div class="titre"><h2>À propos</h2></div>
    <p>
        Cette web app est conçue uniquement à des fins de démonstration, en utilisant le framework Django.
        Elle illustre les fonctionnalités de base et les bonnes pratiques de développement offertes par Django, sans prétendre à une utilisation en production.
        Le but est de fournir un aperçu des capacités de Django pour le développement rapide d'applications web sécurisées et robustes.
    </p>

{% endblock %}