{% extends 'listings/base.html' %}

{% block content %}
    <h3>L'identifiant de l'annonce est {{ ad_id }}</h3>
    <section>
        <h4>{{ ad.title }}</h4>

        <ul>
            <li>Description : {{ ad.description }}</li>
            <li>Ventes : {{ ad.sold|yesno }}</li>
            <li>Type : {{ ad.get_type_display }}</li>
            <li>Band : {{ ad.band }}</li>
        </ul>
    </section>

    <div class="conteneur-bouton">
        <div class="contenu-bouton">
            <div>
                <a href="{% url 'ads-list' %}">
                    <button class="bouton-retour">Retour sur la page des annonces</button>
                </a>
            </div>
            <div>
                <a href="{% url 'ad-update' ad_id %}">
                    <button class="bouton">Modifier</button>
                </a>
            </div>
            <div>
                <a href="{% url 'ad-delete' ad_id %}">
                    <button class="bouton-supprimer">Supprimer</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}