{% extends 'listings/base.html' %}

{% block content %}

    <div class="titre"><h2>Ajouter un groupe</h2></div>

    <div class="form-section">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="contenu-formulaire">
                {{ band_form.as_div }}
            </div>
            <input type="submit" value="Envoyer">
        </form>
    </div>

    <div class="conteneur-bouton">
        <a href="{% url 'band-list' %}">
            <button class="bouton-retour">Retour vers la page des groupes</button>
        </a>
    </div>

{% endblock %}