{% extends 'listings/base.html' %}

{% block content %}

    <h3>L'identifiant est {{ band_id }}</h3>
    <section class = "section-bands">
        <h4>{{ band.name }}</h4>

        <ul>
            <li>Genre : {{ band.get_genre_display }}</li>
            <li>Année de formation : {{ band.year_formed }}</li>
            <li>Actif : {{ band.active|yesno }}</li>
            {% if band.official_homepage %}
                <li><a href="{{ band.official_homepage }}">{{ band.official_homepage }}</a></li>
            {% endif %}
        </ul>

        <p>{{ band.biography }}</p>
    </section>

    <section>
        <h3>Annonces du groupe :</h3>
        {% for listing in band.listing_set.all %}
            {% if listing.band == band %}
                <li><a href="{% url 'ad-detail' listing.id %}">{{ listing.title }}</a></li>
            {% endif %}
        {% endfor %}
    </section>

    <div class="conteneur-bouton">
        <div class="contenu-bouton">
            <div>
                <a href="{% url 'band-list' %}">
                    <button class="bouton-retour">Retour</button>
                </a>
            </div>
            <div>
                <a href="{% url 'band-update' band.id%}">
                    <button class="bouton">Modifier</button>
                </a>
            </div>
            <div>
                <a href="{% url 'band-delete' band_id %}">
                    <button class="bouton">Supprimer</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}