{% extends 'listings/base.html' %}

{% block content %}

    <h2>Mettre à jour les informations du groupe</h2>

    <div class="form-section">
        <form action="" method="post">
            {% csrf_token %}
            <div class="contenu-formulaire">
                {{ form_update.as_div }}
            </div>
            <div class="conteneur-input">
                <input type="submit" value="Modifier">
            </div>
        </form>
    </div>

    <div class="conteneur-bouton">
        <a href="{% url 'band-detail' band_id %}">
            <button class="bouton">Retour</button>
        </a>
    </div>

{% endblock %}