<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'listings/style.css' %}" />
    <title>Merchex</title>
</head>
<body>

    <header>
        <div>
            <a href=""><h1>Hello Django !</h1></a>
        </div>

        <div>
            <nav class="nav-bar">
                <a href="ads">Annonces</a>
                <a href="hello">Principale</a>
                <a href="about-us">A propos</a>
                <a href="contact-us">Contactez-nous</a>
            </nav>
        </div>
    </header>

    <h2>Bienvenu sur l'application django !</h2>
    {% block content %}{% endblock %}

    <footer>
        © Joris LARMAILLARD-NOIREN
    </footer>

</body>
</html>