<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'listings/style.css' %}" />
    <title>Merchex</title>
</head>
<body>

    <header>
        <div>
            <a href="{% url 'home' %}"><h1>Bienvenu sur l'application django !</h1></a>
        </div>

        <div>
            <nav class="nav-bar">
                <a href="{% url 'ads-list' %}">Annonces</a>
                <a href="{% url 'band-list' %}">Groupes</a>
                <a href="{% url 'about-us' %}">A propos</a>
                <a href="{% url 'contact-us' %}">Contact</a>
            </nav>
        </div>
    </header>

    <main class="main-content">

        {% block content %}{% endblock %}

    </main>

    <footer>
        © Joris LARMAILLARD-NOIREN
    </footer>

</body>
</html>