:root {
    /* Couleur background header et footer */
    --main-bg-color: #a3b18a;
}

hmtl, body {
    font-family: Futura;
    background-color: #dad7cd;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--main-bg-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

/* Style de la barre de navigation */
#nav-bar {
    justify-content: space-evenly;
}

.main-content {
    padding: 20px;
}

/* Style des bandes */
.section-bands {
    /* height: auto; */
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 15px;
}

.band {
    border: 1px dashed seagreen;
    border-radius: .25cm;
    padding: 10px;
    margin: 10px auto;
}

/* Style élément génréaux */
a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: white;
    cursor: pointer;
}

.conteneur-bouton {
    text-align: center;
    margin: 10px auto;
}

.bouton-retour {
    background-color: #D2CCA1;
    border-radius: .25cm;
    padding: 10px;
}

.message-confirmation {
    text-align: center;
}

footer {
    background-color: var(--main-bg-color);
    text-align: center;
    padding: 10px;
}
